new_7.txt filter=lfs diff=lfs merge=lfs -text
new_8.txt filter=lfs diff=lfs merge=lfs -text
new_10.txt filter=lfs diff=lfs merge=lfs -text
new_2.txt filter=lfs diff=lfs merge=lfs -text
new_4.txt filter=lfs diff=lfs merge=lfs -text
new_6.txt filter=lfs diff=lfs merge=lfs -text
new_9.txt filter=lfs diff=lfs merge=lfs -text
new_1.txt filter=lfs diff=lfs merge=lfs -text
new_3.txt filter=lfs diff=lfs merge=lfs -text
new_5.txt filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
